<?xml version="1.0" encoding="UTF-8"?>
<menus title="首页" icon="fa-home home-icon">
    <menu action="dashboard">
		<title>首页</title>
		<icon>fa-home</icon>
		<links>dashboard</links>
	</menu>
	
	<menu action="businessinfo">
		<title>我的店铺</title>
		<icon>fa-building</icon>
		<links>businessinfo</links>
	</menu>
	
	<menu action="myRouter">
		<title>我的路由</title>
		<icon>fa-wifi</icon>
		<links>
			<link>
				<title>运行状态</title>
				<icon>fa-caret-right</icon>
				<uri>myRouter/onlineStatus</uri>
			</link>
			<link>
				<title>在线用户</title>
				<icon>fa-caret-right</icon>
				<uri>myRouter/onlineUser</uri>
			</link>
			<link>
				<title>上网管理</title>
				<icon>fa-caret-right</icon>
				<uri>myRouter/bwList</uri>
			</link>
		</links>
	</menu>
	
	<menu action="dataAnalysis">
		<title>数据中心</title>
		<icon>fa-area-chart</icon>
		<links>
			<link>
				<title>客流统计</title>
				<icon>fa-line-chart</icon>
				<uri>dataAnalysis/index</uri>
			</link>
			<link>
				<title>客户分析</title>
				<icon>fa-bar-chart-o</icon>
				<uri>dataAnalysis/userStatistics</uri>
			</link>
			<link>
				<title>广告分析</title>
				<icon>fa-pie-chart</icon>
				<uri>dataAnalysis/advertisement</uri>
			</link>
		</links>
	</menu>
	<menu action="firmWare">
		<title>设备管理</title>
		<icon> fa-desktop</icon>
		<links>firmWare</links>
	</menu>
	<menu action="apply">
		<title>应用管理</title>
		<icon> fa-th-large</icon>
		<links>apply</links>
	</menu>
	<menu action="uploadapk/uploadBaseapp">
		<title>应用打包</title>
		<icon> fa-th-large</icon>
		<links>uploadapk/uploadBaseapp</links>
	</menu>
	<menu action="sysUser">
		<title>账户管理 </title>
		<icon>fa fa-cog</icon>
		<links>
			<link>
				<title>权限管理</title>
				<icon>fa-caret-right</icon>
				<uri>sysUser/privilege</uri>
			</link>
			<link>
				<title>用户管理</title>
				<icon>fa-caret-right</icon>
				<uri>sysUser/index</uri>
			</link>
			<link>
				<title>修改密码</title>
				<icon>fa-caret-right</icon>
				<uri>sysUser/account</uri>
			</link>
		</links>
	</menu>
	<menu action="appdownload">
		<title>APP下载量</title>
		<icon>fa-download</icon>
		<links>appdownload</links>
	</menu>
</menus>